policy_module(privacyidea-selinux, 1.0)

########################################
#
# Requirements
#

require {
    type httpd_t;
    type ldap_port_t;
    type mysqld_port_t;
    class tcp_socket name_connect;
}

########################################
#
# privacyIDEA server policy
#

# Allow privacyIDEA running in the Apache HTTPD domain
# to connect to LDAP servers.
allow httpd_t ldap_port_t:tcp_socket name_connect;

# Allow privacyIDEA running in the Apache HTTPD domain
# to connect to MySQL/MariaDB servers.
allow httpd_t mysqld_port_t:tcp_socket name_connect;
