policy_module(privacyidea-pam-selinux, 1.0)

########################################
#
# Declarations
#

type privacyidea_pam_offline_t;
files_type(privacyidea_pam_offline_t)

########################################
#
# Requirements
#

require {
    type sshd_t;
    type http_port_t;
}

########################################
#
# RHEL 8 / RHEL 9
#

allow sshd_t http_port_t:tcp_socket name_connect;

allow sshd_t privacyidea_pam_offline_t:file {
    getattr
    open
    read
    write
};

########################################
#
# RHEL 10
#

optional_policy(`
    gen_require(`
        type sshd_session_t;
    ')

    allow sshd_session_t http_port_t:tcp_socket name_connect;

    allow sshd_session_t privacyidea_pam_offline_t:file {
        getattr
        open
        read
        write
    };
')
